.cart_row {
    display: flex;
    justify-content: space-between;
}

.total {
    margin-top: 1rem;
    font-size: 1.25rem;
    text-align: right;
    font-weight: 600;
}

.quantity_content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.first,
.second,
.third,
.fourth {
    text-align: left;
}

svg {
    cursor: pointer;
}